@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Regular.woff2') format('woff2'),
       url('../fonts/Mulish-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
} */

@layer base {
  :root {
    --primary: #2D5BFF;

    --spacing-none: 0px;
    --spacing-4xs: 8px;
    --spacing-2xs: 12px;
    --spacing-xs: 16px;
    --spacing-sm: 20px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 40px;
    --spacing-2xl: 48px;
    --spacing-4xl: 56px;

    --screen-mobile: 640px;
    --screen-tablet: 1024px;
    --screen-desktop: 1440px;
    --screen-tv: 1920px;

    --shadow-sm: 0px 0px 10px rgba(132, 132, 132, 15%);
    --shadow-md: 0px 0px 20px rgba(132, 132, 132, 20%);
    --shadow-lg: 0px 0px 30px rgba(132, 132, 132, 25%);
    --shadow-focus: 0px 0px 0px 2px #643296;
    --shadow-outline: 0px 0px 0px 2px #E8E8E8;
    --shadow-button-focus: 0px 0px 0px 2px #AF4BFE; 

    --border-radius-none: 0px;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
    
    --text-xs: 12px;
    --text-sm: 14px;
    --text-nd: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
  }

  .theme-violet {
    --primary: #AF4BFE;
  }
}